<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load navbar %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>{% sitename %}</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<!-- add your meta tags here -->

<link href="{{ MEDIA_URL }}themes/{% theme %}/css/layout.css" rel="stylesheet" type="text/css" />
<!--[if lte IE 7]>
<link href="media/css/patch_layout.css" rel="stylesheet" type="text/css" />
<![endif]-->
<script type="text/javascript"    src="{{ MEDIA_URL }}js/slide.js"></script>
            {% load disqus_tags %}

{% disqus_dev %}
</head>
<body>
  <div class="page_margins">
    <div class="page">
      <div id="header">
        <div id="topnav">
          <!-- start: skip link navigation -->
          <a class="skip" title="skip link" href="#navigation">Skip to the navigation</a><span class="hideme">.</span>
          <a class="skip" title="skip link" href="#content">Skip to the content</a><span class="hideme">.</span>
          <form action="{% url blog-search %}" method="get">
              <label for="q">Search:</label>
              <input type="text" size="13" name="q" />
          </form>
          <!-- end: skip link navigation <a href="#">Login</a> | <a href="#">Contact</a> | <a href="#">Imprint</a> -->
        </div>
        <h1> {% sitename %} </h1>
      </div>
      <div id="nav">
        <!-- skiplink anchor: navigation -->
        <a id="navigation" name="navigation"></a>
        <div class="hlist">
          <!-- main navigation: horizontal list -->
          <ul>
            <li><a href="{{ ROOT_URL }}">Home</a></li>
            <li><a href="{{ ROOT_URL }}/feeds/rss">RSS Feed</a></li>
            <li><a href="{{ ROOT_URL }}/gallery/list">Galleries</a></li>
            {% main_nav %}
        </div>
      </div>
      <div id="main">
        <div id="col1">
          <div id="col1_content" class="clearfix">
<!-- start main content -->
          {% block content %}
          {% endblock %}
<!-- end main content -->
          </div>
        </div>
            {% sidebar %}
            <hr>
   <!-- Start Banners -->
              <a href="http://www.gnu.org/"><img src="{{ MEDIA_URL }}images/gplv3-127x51.png" alt="GPL" \></a>
            <hr>
   <!-- Stop Banners -->
            <hr>
<!-- End sidebar -->
          </div>
          <!-- IE Column Clearing -->
          <div id="ie_clearing"> &#160; </div>
        </div>
      </div>
      <!-- begin: #footer -->
      <div id="footer">Layout based on <a href="http://www.yaml.de/">YAML</a>
      </div>
    </div>
  </div>
</body>
</html>
