{% extends "blog_base.html" %}
<!-- start main content -->
{% block content %}
{% if posts %}
<div id="story-title-{{ posts.id }}" class="span-6 first">
  <p class="story_title"><h2>{{ posts.title }}</h2></p>
</div>
<div id="story-body-{{ posts.id }}" class="span-18 last">
  {{ posts.body|safe }}
  <hr>
  <p class="small">Updated {{ posts.modified|date:"m/d/y @ h:iA T" }} by {{ posts.owner }}</p>
  <p class="story_cat"><u>Categories</u>:
   {% for x in posts.category.all %}<a href="{{ x.get_absolute_url }}">{{ x }}</a> {% endfor %}
  </p>
  <!-- start tags -->
  <p><u>Tags</u>: {% for tag in posts.get_tags %}
   <a href="/tags/{{ tag }}">{{ tag }}</a>
  {% endfor %}</p>
  <!-- end tags -->
  <hr>
  <!-- start social media -->
  <p>
    <a href="http://reddit.com/submit?url={{ ROOT_URL }}{{ posts.get_absolute_url }}&title={{ posts.title }}"><img src="{{ MEDIA_URL }}images/reddit.gif" alt="Reddit"></a>
    <a href="http://digg.com/submit?phase=2&url={{ ROOT_URL }}{{ posts.get_absolute_url }}"><img src="{{ MEDIA_URL }}images/digg.gif" alt="Digg it!"></a>
    <a href="http://www.stumbleupon.com/submit?url={{ ROOT_URL }}{{ posts.get_absolute_url }}&title={{ posts.title }}"><img src="{{ MEDIA_URL }}images/stumble-upon.jpg" alt="StumbleUpon"></a>
    <a href="http://del.icio.us/post?url={{ ROOT_URL }}{{ posts.get_absolute_url }}&title={{ posts.title }}"><img src="{{ MEDIA_URL }}images/delicious.gif" alt="Delicious!"></a>
  </p>
  <!-- stop social media -->
  <!-- start comments -->
  <hr>
{% load disqus_tags %}
{% disqus_show_comments %}
  <!-- end comments -->
{% else %}
<p> Sorry, nothing seems to exist here. Please try one of the many other links instead</p>
{% endif %}
</div>
{% endblock %}
<!-- end main content -->
