{% extends "base.html" %}
<!-- start main content -->
{% block content %}
<div id="story-title-{{ posts.id }}" class="span-6 first">
  <p class="story_title"><h2>{{ posts.title }}</h2></p>
</div>
<div id="story-body-{{ posts.id }}" class="span-18 last">
  {{ posts.markdown_content|safe }}
  <p class="small">Updated {{ posts.modified|date:"m/d/y @ h:iA T" }} by {{ posts.owner }}</p>
  <p class="story_cat"><u>Category</u>: <a href="{{ posts.category.get_absolute_url }}">{{ posts.category }}</a>
  </p>
  <hr>
  <!-- start social media -->
  <p>
    <a href="http://reddit.com/submit?url={{ ROOT_URL }}{{ posts.get_absolute_url }}&title={{ posts.title }}"><img src="/media/images/reddit.gif" alt="Reddit"></a>
    <a href="http://digg.com/submit?phase=2&url={{ ROOT_URL }}{{ posts.get_absolute_url }}"><img src="/media/images/digg.gif" alt="Digg it!"></a>
    <a href="http://www.stumbleupon.com/submit?url={{ ROOT_URL }}{{ posts.get_absolute_url }}&title={{ posts.title }}"><img src="/media/images/stumble-upon.jpg" alt="StumbleUpon"></a>
    <a href="http://del.icio.us/post?url={{ ROOT_URL }}{{ posts.get_absolute_url }}&title={{ posts.title }}"><img src="/media/images/delicious.gif" alt="Delicious!"></a>
  </p>
  <!-- stop social media -->
  <!-- start comments -->
  <hr>
  {% load comments %}
  {% get_comment_list for blog.article posts.id as comment_list %}
  {% if comment_list %}
   {% for comment in comment_list %}
     <p>{{ comment.comment }}</p>
     <p>From <a href="{{ comment.url}}">{{ comment.name }}</a></p>
     <hr>
   {% endfor %}
   {% render_comment_form for blog.article posts.id %}
  {% else %}
   {% render_comment_form for blog.article posts.id %}
  {% endif %}
  <!-- end comments -->
</div>
{% endblock %}
<!-- end main content -->
