{% extends "blog/base.html" %}
{% ssi /home/f4nt/git-repos/personal/django_yaba/templates/blog/includes/sidebar.html parsed %}
<!-- start main content -->
{% block content %}
<div id="story-title-{{ posts.id }}" class="span-6 first">
  <p class="story_title">{{ posts.title }}</p>
  <p class="story_cat">Category: <a href="{% url blog-category posts.category.slug %}">{{ posts.category }}</a></p>
  <br />
</div>
<div id="story-body-{{ posts.id }}" class="span-18 last">
  {{ posts.html_content|safe }}
  <p class="small">Updated {{ posts.modified }}</p>
</div>
{% endblock %}
<!-- end main content -->
