{% extends "blog/base.html" %}
<!-- start main content -->
{% block content %}
<div id="story-title-{{ posts.id }}" class="span-6 first">
  <p class="story_title">{{ posts.title }}</p>
  <p class="story_cat">Category: <a href="{% url blog-category posts.category.slug %}">{{ posts.category }}</a></p>
  <br />
</div>
<div id="story-body-{{ posts.id }}" class="span-18 last">
  {{ posts.html_content|safe }}
  <p class="small">Updated {{ posts.modified }} by {{ posts.owner }}</p>
  <!-- start social media -->
  <p>
    <a href="http://reddit.com/submit?url={{ ROOT_URL }}{{ posts.get_absolute_url }}&title={{ posts.title }}"><img src="/media/images/reddit.gif" alt="Reddit"></a>
    <a href="http://digg.com/submit?phase=2&url={{ ROOT_URL }}{{ posts.get_absolute_url }}"><img src="/media/images/digg.gif" alt="Digg it!"></a>
    <a href="http://www.stumbleupon.com/submit?url={{ ROOT_URL }}{{ posts.get_absolute_url }}&title={{ posts.title }}"><img src="/media/images/stumble-upon.jpg" alt="StumbleUpon"></a>
    <a href="http://del.icio.us/post?url={{ ROOT_URL }}{{ posts.get_absolute_url }}&title={{ posts.title }}"><img src="/media/images/delicious.gif" alt="Delicious!"></a>
  </p>
  <!-- stop social media -->
</div>
{% endblock %}
<!-- end main content -->
